
  <!-- Back -->
  <div class="container-fluid">
    <div class="container p-1 mt-3">
      <h6 class="fw-bold back-link" onclick="history.back()">
        <i class="fa fa-chevron-left"></i> Back
      </h6>
    </div>
  </div>

  <!-- Wallet Add Form -->
  <div class="container my-3">
    <div class=" balance-card  border-0 rounded-4 mx-auto" style="max-width:420px;">
      <div class=" p-4">
        <h4 class="fw-bold text-center mb-4">$0.00</h4>
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Amount (USDT BEP20 Network Only)</label>
          <input type="number" class="form-control form-control-lg rounded-3" placeholder="Enter Amount">
        </div>
        <div class="container text-center ">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fundModal"> Add Fund</button>
          </div>
      </div>
    </div>
  </div>
  <!-- App Bar -->
  <!-- Transactions -->
  <main class="container my-4 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="fw-bold">Deposit Transactions</div>
    </div>

    <div class="vstack gap-2 mt-3 mb-3">
      <div class="txn-card" >
        <div class="txn-icon"><i class="bi bi-person"></i></div>
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between">
            <div class="txn-title">Ravi Kumar</div>
            <div class="txn-amt text-success">+ ₹500.00</div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="txn-sub">UPI • 25 Aug 2025, 10:12 AM</div>
            <span class="badge rounded-pill badge-success">Success</span>
          </div>
        </div>
      </div>
    </div>
    

  </main>








<!-- Modal -->
<div class="modal fade" id="fundModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Add Fund</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-2">Send Only <b>USDT BEP20</b> for <b>$100</b> Deposit to:</p>
        <p class="wallet-address">
          0xA3D41DD9eC72A764CC5ED871cb40fF85b668BeD5
        </p>
        <button class="btn btn-outline-primary btn-sm copy-btn mb-3">Copy</button>
        
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=0xA3D41DD9eC72A764CC5ED871cb40fF85b668BeD5" alt="QR Code" class="qr-code">
        
     <div class="mt-2">
        <button class="btn btn-success btn-custom">Share on WhatsApp</button>
        <button class="btn btn-success btn-custom">Check Payment Status</button>
     </div>
      </div>
    </div>
  </div>
</div>



  <app-footer></app-footer>

