<!-- Bottom Navigation (hidden on login & signup) -->
<div *ngIf="!hideBottomNav()" 
     class="bottom-nav bg-light d-flex justify-content-around py-2 border-top fixed-bottom">

  <a routerLink="/home" 
     routerLinkActive="active-link" 
     [routerLinkActiveOptions]="{ exact: true }"
     class="text-center text-decoration-none">
    <i class="bi bi-wallet2"></i><br>Assets
  </a>

  <a routerLink="/deposit" 
     routerLinkActive="active-link" 
     class="text-center text-decoration-none">
   <img src="assets/deposit.png" style="width: 22px;height: 22px; color: #0D6EFD;" alt=""><br>Deposit
  </a>

  <a routerLink="/team" 
     routerLinkActive="active-link" 
     class="text-center text-decoration-none">
     <i class="fa fa-users" aria-hidden="true"></i>
     <br>Team
  </a>
  <a routerLink="/profile" 
     routerLinkActive="active-link" 
     class="text-center text-decoration-none">
    <i class="bi bi-person"></i><br>Profile
  </a>
</div>