<div class="container-fluid">
    <div class="container p-1 mt-3">
      <h6 class="fw-bold back-link" onclick="history.back()">
        <i class="fa fa-chevron-left"></i> Back
      </h6>
    </div>
  </div>


  
  <div class="container mt-5">
    <h5 class="mb-3">Direct Team</h5>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">User ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data1; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ row.regid }}</td>
            <td>{{ row.name }}</td>
            <td>
              <span *ngIf="row.topupstatus == '1'" class="badge bg-success">Activated</span>
              <span *ngIf="row.topupstatus == '0'" class="badge bg-danger">Not Activated</span>
            </td>
            <td>{{ row.adate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  

  <app-footer></app-footer>