<div class="mb-5">
     <main class="container my-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="fw-bold">My Referrals</div>
                <a href="#" class="small text-decoration-none">View all</a>
            </div>

            <div class="vstack gap-2 mt-2" *ngFor="let row of data1">
                <div class="txn-card">
                    <div class="txn-icon"><i class="bi bi-person"></i></div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="txn-title">{{row.name}}</div>
                            <div class="txn-amt text-success">+ ₹500.00</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="txn-sub">UPI • 25 Aug 2025, 10:12 AM</div>
                            <span class="badge rounded-pill badge-success">Success</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div  class="vstack gap-2 mt-3">
                <div class="txn-card">
                    <div class="txn-icon"><i class="bi bi-person"></i></div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <div class="txn-title">Ravi Kumar</div>
                            <div class="txn-amt text-success">+ ₹500.00</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="txn-sub">UPI • 25 Aug 2025, 10:12 AM</div>
                            <span class="badge rounded-pill badge-success">Success</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </main>
</div>